
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditById</title>
</head>
<body>
   <form action="/Product/Edit" method="get">
       请输入商品编号:<input type="text" name="id" />
       <input type="submit" />
   </form>
</body>
</html>
