
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>上海博为峰软件技术股份有限公司</title>
    <link rel="stylesheet" href="/Contents/bootstrap.min.css" />
    <link rel="stylesheet" href="/Contents/animate.min.css" />
    <script type="text/javascript" src="/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/wow.js"></script>
    <link rel="stylesheet" href="/Contents/global.css" />
    <script type="text/javascript" src="/scripts/global.js"></script>
    <style>
        html {
            background: url(/Images/bg5.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>
    <script>
        function Login() {
            $.post('/Admin/Login', $('#loginForm').serialize(), function (data) {
                if (data.Result == 1) {
                    alert(data.ErrorTips);
                    window.location.reload();
                    return false;
                } else {
                    return true;
                }
            });
        }
    </script>
</head>
<body>
   
    <img src="/Images/bwf_logo.png" height="50px" style="position:fixed;right:50px; top:20px;" />

    <div align="center" style="width:100%; position:fixed; top:160px; ">
        <div align="center" style="width:400px; padding:0px; margin:0px; ">
            <form id="loginForm" action="/Admin/Login" method="post"  onsubmit="return Login();">
                <div class="panel panel-default" style="padding:0px; margin:0px;">
                    <div class="panel-heading">
                        欢迎登录管理系统
                    </div>
                    <div class="panel-body">

                        <input type="text" name="Username" class="form-control" placeholder="账户名称" />
                        <div style="height:10px;"></div>
                        <input type="password" name="Password" class="form-control" placeholder="账户密码" />

                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-primary btn-sm form-control"> 登  录 </button>

                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
